# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\7mile\source\repos\ScriptHookWar3\ codebase based on best match to current usage at 2022/1/28
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*]
charset=utf-8
